body{
  text-align:center;
  background-color:black;
}
span{
  float:none;
  color:white;
  font-weight:bold;
  text-align:left;
}
h1{
  font-weight:bold;
  font-size:30px;
  color:white;
}
.state_name{
  font-weight:bold;
  font-size:30px
  color:white;
}
.description{
  font-weight:bold;
  font-size: 20px;
  color:white;
}
.state_flag{
  height:200px;
  width:200px;
}
